.VideoItem {
    text-align: center;
  }


.whatsapp_float {
position: fixed;
width: 40px;
height: 40px;
bottom: 20px;
right: 10px;
font-size: 22px;

background-color: #25d366;
color: #fff;
border-radius: 50px;
text-align: center;

box-shadow: 2px 2px 3px #999;
z-index: 100;
}