.MuiPaper-root.MuiCarouselItem-root {
    height: calc(100vh - 200px);
  }

  
.YouTube {
    width: 80;
    height: 45
  }

.whatsapp_float {
position: fixed;
width: 40px;
height: 40px;
bottom: 20px;
right: 10px;
font-size: 22px;

background-color: #25d366;
color: #fff;
border-radius: 50px;
text-align: center;

box-shadow: 2px 2px 3px #999;
z-index: 100;
}

.fixedContainer {
    position: fixed;
}

.flexShrink {
    flex-shrink: 2;
    /* Do not set top / left! */
}
.VideoItem {
    text-align: center;
    flex-shrink: 2;
  }


  .input-box {
    border: 2px solid #0066CC;
    border-radius: 3px;
  }
  
  .add-button {
    color: #0066CC;
    background: white;
    border: 2px solid #0066CC;
    border-radius: 3px;
    margin-left: 10px;
  }
  
  .delete-button {
    color: white;
    background: #0066CC;
    border: 2px solid #0066CC;
    border-radius: 3px;
    margin-left: 10px;
  }
  